* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fanwood Text', sans-serif;
}

body {
  background-color: #ad0230;
}

/* Margins */

.mt-5, .my-5 {
  margin-top: 5%;
}

.mb-5, .my-5 {
  margin-bottom: 5%;
}

.ml-5, .mx-5 {
  margin-left: 5%;
}

.mr-5, .mx-5 {
  margin-right: 5%;
}

.mt-2, .my-2 {
  margin-top: 2%;
}

.mb-2, .my-2 {
  margin-bottom: 2%;
}

.ml-2, .mx-2 {
  margin-left: 2%;
}

.mr-2, .mx-2 {
  margin-right: 2%;
}

/* End Margins */

/* Header */
.header {
  background: black;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 250px;
  height: 60px;
}

.header-menu {
  display: flex;
}

.header-menu li {
  list-style: none;
  align-content: center;
  padding-top: 10px;
  float: left;
  height: 100%;
}

.header-menu li a:hover {
  color: #ad0230;
}

.header-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding: 8px 18px;
  border-radius: 3px;
}

.divider {
  border-bottom: none;
  border-top: none;
  border-right: solid 1px #ad0230;
  clear: none;
  width: 0px;
  height: 100%;
}
/* End Header */

/* Main Carousel */
.main-carousel-wrapper {
  margin: 20px 0 5px 0;
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
  background-color: black;
  width: auto;
  height: auto;
  max-height: 500px;
  border-radius: 5px;
  box-shadow: 0 0 2px #999;
}

.main-carousel {
  margin: auto;
  position: relative;
  overflow: hidden;
}

.main-carousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-carousel li {
  float: left;
  width: 1350px;
  align-content: center;

}

.main-carousel li img {
  /*width: 100%;*/
  height: 100%;
  /*object-fit: contain;*/
  background-size: cover;
}

.main-carousel-control-prev {
  position: absolute;
  width: 60px;
  height: 100%;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  box-shadow: 0 0 2px #999;
  left: 0;
}

.main-carousel-control-prev div {
  background: #000;
  height: 100%;
  padding-top: 165px;
  font: 74px Arial, sans-serif;
}

.main-carousel-control-next {
  position: absolute;
  width: 60px;
  height: 100%;
  background: #000;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  box-shadow: 0 0 2px #999;
  right: 0;
}

.main-carousel-control-next div {
  background: transparent;
  height: 100%;
  padding-top: 165px;
  font: 74px Arial, sans-serif;
}

/* End Main Carousel */

/* Repertoar */

.title {
  height: 100px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.title h2 {
  font-size: 45px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.repertoar-row {
  margin-top: 1px;
  margin-bottom: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
  height: 350px;
}

#days {
  display: flex;
  background-color: white;
  height: 50px;
}

#days label {
  width: 14.29%;
  text-align: center;
}

#days input[type="radio"] {
  display: none;
}

#days input[type="radio"]:checked+span {
  background-color: #474747;
  color: #ad0230;
}

#days span {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  line-height: 50px;
  width: 100%;
}

#days span:hover {
 background: #474747;
 color: #ad0230;
}

.showings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.showings ul {
  display: flex;
  list-style: none;
}

.performance {
  list-style: none;
}

.programme {
  display: flex;
  width: 25%;
  margin-right: 10px;
}

.poster img {
  max-height: 290px;
  margin-top: 4px;
}

.times {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.start-time {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  background-color: #ad0230;
  color: #fff;
  border-radius: 5px;
}
/* End Repertoar */

/* Login */

.login, .signup {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.login .closebtn, .signup .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 42px;
  font-weight: bold;
  /*margin-left: 50px;*/
  margin: 12px;
  text-decoration: none;
  color: #ad0230;
  transition: font-size 1s, margin 1s;
}

.login .closebtn:hover, .signup .closebtn:hover {
  font-size: 60px;
  margin: 8px;
}

#main {
  transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.login-form {
  margin-left: 25px;
  color: #fff;
}

.form-field {
  width: 200px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 5px;
}

.submit-btn {
  margin: 4px 2px;
}

.submit-btn button {
  width: 200px;
  height: 30px;
  background-color: #ad0230;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

/* End Login */

/* Dropdown */

.header-menu li.dropdown-wrapper>a:after {
  content: '\25BE';
  color: white;
  position: absolute;
  right: 4px;
}

.header-menu li .dropdown {
  display: none;
}

.header-menu li.dropdown-wrapper:hover .dropdown {
  display: block;
}

.burger {
  width: 50px;
  background-color: transparent;
  border: 0;
  display: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  padding: 0;
  border-radius: 5px;
  background-color: #ad0230;
  border: 1px solid gray;
  width: 140px;
  z-index: 2;
}

.dropdown .dropdown-divider {
  border-top: 1px solid #000;
  width: 100%;
  height: 0;
  padding: 0;
}

.dropdown li {
  padding: 0;
  width: 100%
}

.header-menu li .dropdown li a {
  color: #fff;
}
/* End Dropdown */

/* News */
.news-row {
  display: flex;
	flex-wrap: wrap;
  margin-top: 1px;
  margin-bottom: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
  height: 350px;
}

.news {
  width: 33.33%;
  display: flex;
	justify-content: space-between;
	flex-direction:column;
  padding-right: 7px;
  padding-left: 7px;
}

.news a {
  text-decoration: none;
  color: #ad0230;
}

.news p {
  text-align: justify;
}

.news-img img {
  /*max-height: 200px;*/
  width: 100%;
  margin-top: 4px;
}
/* End News */

/* Responsive */
/* Tablet */

@media (max-width: 768px) {
  .header-menu {
    display:none;
		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #ad0230;
		padding: 60px 0;
		z-index: 999;
    flex-direction: column;
		align-items: center;
  }

  .header-menu ul {

	}

  .header-menu li a {
    font-size: 12px;
  }

  .header-menu li a:hover {
    color: #000;
  }

  .burger {
    display: block;
  }
}

/* End Responsive */
