* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fanwood Text', sans-serif;
}

body {
  background-color: #ad0230;
}

/* Margins */

.mt-5, .my-5 {
  margin-top: 5%;
}

.mb-5, .my-5 {
  margin-bottom: 5%;
}

.ml-5, .mx-5 {
  margin-left: 5%;
}

.mr-5, .mx-5 {
  margin-right: 5%;
}

.mt-2, .my-2 {
  margin-top: 2%;
}

.mb-2, .my-2 {
  margin-bottom: 2%;
}

.ml-2, .mx-2 {
  margin-left: 2%;
}

.mr-2, .mx-2 {
  margin-right: 2%;
}

/* End Margins */

/* Header */
.header {
  background: black;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 250px;
  height: 60px;
}

.header-menu {
  display: flex;
}

.header-menu li {
  list-style: none;
  align-content: center;
  padding-top: 10px;
  float: left;
  height: 100%;
}

.header-menu li a:hover {
  color: #ad0230;
}

.header-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding: 8px 18px;
  border-radius: 3px;
}

.divider {
  border-bottom: none;
  border-top: none;
  border-right: solid 1px #ad0230;
  clear: none;
  width: 0px;
  height: 100%;
}
/* End Header */

/* Main Carousel */
.main-carousel-wrapper {
  margin: 20px 0 5px 0;
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
  background-color: black;
  width: auto;
  height: auto;
  max-height: 500px;
  border-radius: 5px;
  box-shadow: 0 0 2px #999;
}

.main-carousel {
  margin: auto;
  position: relative;
  overflow: hidden;
}

.main-carousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-carousel li {
  float: left;
  width: 1350px;
  align-content: center;

}

.main-carousel li img {
  /*width: 100%;*/
  height: 100%;
  /*object-fit: contain;*/
  background-size: cover;
}

.main-carousel-control-prev {
  position: absolute;
  width: 60px;
  height: 100%;
  background: transparent;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  box-shadow: 0 0 2px #999;
  left: 0;
}

.main-carousel-control-prev div {
  background: transparent;
  height: 100%;
  margin-top: 165px;
  font: 74px Arial, sans-serif;
}

.main-carousel-control-next {
  position: absolute;
  width: 60px;
  height: 100%;
  background: transparent;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  box-shadow: 0 0 2px #999;
  right: 0;
}

.main-carousel-control-next div {
  background: transparent;
  height: 100%;
  margin-top: 165px;
  font: 74px Arial, sans-serif;
}

/* End Main Carousel */

/* Repertoar */

.repertoar {
  height: 100px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.repertoar h2 {
  font-size: 45px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.repertoar-row {
  margin-top: 1px;
  background-color: #ebebeb;
  border-radius: 5px;
  height: 350px;
}

.date-selector {
  display: flex;
  background-color: white;
  height: 50px;
}

.day {
  display: inline;
  width: 14.29%;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.day:hover {
 background: #474747;
}

.day p:hover {
  color: #ad0230;
}
/* End Repertoar */
